.layout {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
    min-height: 100vh; /* Ensure the layout takes up the full viewport height */
  }
  
  .main-content {
    flex: 1; /* Push footer to the bottom */
    padding: 70px 10px; 
  }

  Footer {
    background-color: black;
  }